In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from Bio import SeqIO

# Extract sequence IDs from the FASTA file. 

Some IDs have improper headers, since they contain spaces. Since we will be doing clustering, we will extract the ID of the sequence from the header (last value in the | brackets), and save the corrected fasta file.`

In [ ]:
import re

seq_iterator = SeqIO.parse(open("../data/phosphosite_sequences/Phosphosite_seq.fasta"), 'fasta')
records = []
for seq in seq_iterator:
    # extract sequence id
    seq_id = seq.description.split('|')[-1]
    seq_desc = re.sub(' ', '_', seq.description)
    records.append(SeqIO.SeqRecord(seq.seq, seq_id, description=seq_desc))

62820

In [16]:
seq_iterator = SeqIO.parse(open("../data/phosphosite_sequences/Phosphosite_seq_fixed.fasta"), 'fasta')
i = 0
records = []
for seq in seq_iterator:
    if '|' in seq.id:
        print(seq.id)
        continue
    # extract sequence id
    seq_id = seq.description.split('|')[-1]
    seq_desc = re.sub(' ', '_', seq.description)
    records.append(SeqIO.SeqRecord(seq.seq, seq_id, description=seq_desc))
    i +=1

GN:Nsmce1|NSMCE1_iso4|mouse|
GN:orf3b|ORF3b_protein|SARSCoV2|
GN:X_IgG|IgG|mouse|
GN:USP17L9P|USP17L9P|human|
GN:TRAP|TRAP|human|
GN:MSX2P1|MSX2P1|human|
GN:ABCC13|ABCC13|human|
GN:Ly76|Ly76|mouse|
GN:DLEU2|DLEU2|human|
GN:SNHG29|SNHG29|human|
GN:PCA3|PCA3|human|
GN:SNHG3|SNHG3|human|
GN:EGFR-AS1|EGFR-AS1|human|

GN:Nsmce1|NSMCE1_iso4|mouse| is missing the uniprot id. It seems to be A0A6P5Q324. It is added to the fixed .fasta file. Other proteins in this list seem to have malformed entries in the original .fasta file, so they are removed from the fixed version.

In [17]:
SeqIO.write(records, '../data/phosphosite_sequences/Phosphosite_seq_fixed.fasta', 'fasta')

62807

In [2]:
seed = 42

In [18]:
prot_info = pd.read_json('../data/phosphosite_sequences/phosphosite_df.json')
prot_info

,id,sites,sequence
0,A0A024R4G9,"[14, 16, 20]",MTVLEAVLEIQAITGSRLLSMVPGPARPPGSCWDPTQCTRTWLLSH...
1,A0A075B759,"[40, 79, 93, 119]",MVNSVVFFEITRDGKPLGRISIKLFADKIPKTAENFRALSTGEKGF...
2,A0A087WP46,"[359, 972, 973, 974, 988, 997, 1000, 1005, 101...",MARDGAEQPDSGPLPRPSPCPQEDRASNLMPPKPPRTWGLQLQGPS...
3,A0A087WPF7,"[32, 43, 622, 626, 798, 941, 956, 1031, 1038, ...",MDGPTRGHGLRKKRRSRSQRDRERRSRAGLGTGAAGGIGAGRTRAP...
4,A0A087WQ53,[58],MGQNNNVTEFILLGLTQDPAGQKVLFVMFLLIYIVKIVGNLLIVGT...
...,...,...,...
42252,XP_997087,"[347, 907, 915, 918, 927]",MENFLALMNSISDTWMSPSCMDIAMDMGIAFVCGAGLFFLLLPFLK...
42253,YP_009725299,"[504, 660, 661, 794, 1826]",APTKVTFGDDTVIEVQGYKSVNITFELDERIDKVLNEKCSAYTVEL...
42254,YP_009725305,[5],NNELSPVALRQMSCAAGTTQTACTDDNALAYYNTTKGGRFVLALLS...
42255,YP_009725309,[56],AENVTGLFKDCSKVITGLHPTQAPTHLSVDTKFKTEGLCVDIPGIP...
42256,Z4YJP0,[140],MITRMRHHPWLKSSSFEDRTFPSPPPNWRDITYKYVLGSTQHKTPR...

In [19]:
clusters = pd.read_csv('../data/clustered30_new.tsv', sep='\t', names=['cluster_rep', 'cluster_mem'])
clusters

      cluster_rep cluster_mem
0          Q8CH79      Q8CH79
1          Q8CH79    Q12797-3
2        Q9NQ86-3    Q9NQ86-3
3          O88656      O88656
4          O88656      Q9R0Q6
...           ...         ...
62803      Q9BUD6      Q9BUD6
62804      Q9BUD6      Q8BMS2
62805      Q9BUD6      Q9WV75
62806      A6NEK1      A6NEK1
62807      A6NEK1      Q497K5

[62808 rows x 2 columns]

In [32]:
joined = prot_info.join(clusters.set_index('cluster_mem'), on='id', how='left').drop_duplicates('id')

Keep only sequences with length < 1024, becasue ESM has max input size of 1024 and tokenizer will add the [CLS] token.

In [35]:
joined = joined[joined['sequence'].apply(lambda x: len(x) < 1024)]
joined

,id,sites,sequence,cluster_rep
0,A0A024R4G9,"[14, 16, 20]",MTVLEAVLEIQAITGSRLLSMVPGPARPPGSCWDPTQCTRTWLLSH...,A0A024R4G9
1,A0A075B759,"[40, 79, 93, 119]",MVNSVVFFEITRDGKPLGRISIKLFADKIPKTAENFRALSTGEKGF...,P62937
4,A0A087WQ53,[58],MGQNNNVTEFILLGLTQDPAGQKVLFVMFLLIYIVKIVGNLLIVGT...,Q8NGM1
5,A0A087WQ89,"[18, 26]",METPIQREIRRSCEREESLRRSRGLSPGRAGEELIELRVRPVLSRP...,Q96FF7
6,A0A087WQP5,"[98, 102, 107]",MGCCGCGGCGGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCG...,A0A087WQP5
...,...,...,...,...
42248,XP_988512,[156],MKHPRHVTGCGGGSRGHVRGVATRGSRALGCGLQRGAAGGAGVAAG...,XP_988512
42251,XP_996053,"[19, 399, 400, 401, 542, 545, 803, 804, 807]",MGKFLALMNSIIDSWMGPSSMDIAMDIGIAFMCGAGLFFLLQRFLK...,XP_997087
42254,YP_009725305,[5],NNELSPVALRQMSCAAGTTQTACTDDNALAYYNTTKGGRFVLALLS...,NP_828867
42255,YP_009725309,[56],AENVTGLFKDCSKVITGLHPTQAPTHLSVDTKFKTEGLCVDIPGIP...,YP_009725309
42256,Z4YJP0,[140],MITRMRHHPWLKSSSFEDRTFPSPPPNWRDITYKYVLGSTQHKTPR...,Z4YJP0

In [ ]:
reps = set(joined.cluster_rep.unique())
members = set(joined.id.unique())

missing = set.difference(reps, members)
missing

{'Q2NKQ1-3',
 'Q9WVB7',
 'G3V6W5',
 'F1MN93',
 'Q5U2P0',
 'O35103',
 'Q8IUB9',
 'Q07646',
 'D3Z7Q2',
 'Q497B3',
 'Q7Z3D6-2',
 'Q9QZE3',
 'P35704',
 'EDL99276',
 'Q3TNH5',
 'Q8BLT8',
 'Q8IVV8',
 'Q99819',
 'Q8R5G4',
 'Q8NBJ9-2',
 'Q9BTE6-3',
 'P54619-3',
 'D4A646',
 'XP_343054',
 'P57087-3',
 'P0C0L6',
 'Q96DN5',
 'D3ZZK5',
 'P14432',
 'D3ZSK5',
 'D3ZCA1',
 'Q61711',
 'D3Z3C6',
 'D3TI84',
 'P08424',
 'Q8K126',
 'Q69AB2-2',
 'Q9QWY8',
 'Q58F21-2',
 'C0HK79',
 'Q91VC9',
 'Q60587',
 'Q8BPG6',
 'Q99J23',
 'F1LQF5',
 'Q5MAI5',
 'Q8R5K6',
 'A2AJD1',
 'Q8VDV0',
 'Q8C522',
 'Q3U4X8',
 'A0A494C1R9',
 'P0DOX4',
 'O70191',
 'Q810P2',
 'P04049-2',
 'P32927-2',
 'Q6PJQ5',
 'F1M3G9',
 'D3ZIE9',
 'B2RZD0',
 'Q62876',
 'Q9H0C1',
 'Q6P0N0',
 'P98173',
 'Q9UBK8-1',
 'Q8VIH3',
 'F1M3N2',
 'O08776',
 'B0BN89',
 'O55174',
 'P70597',
 'Q9CYK1',
 'Q5I0K1',
 'Q9JKJ9',
 'P04070-2',
 'P13945',
 'P0C0T2',
 'NP_001289873',
 'Q9NX14-2',
 'P58511',
 'Q9NRP0-2',
 'Q810F0',
 'Q86SQ9-2',
 'Q12982-2',
 'NP_001316994',
 'F1LYX9',
 'Q6DN90-2',
 'Q9CPU4',
 'P23570',
 'D4A7E1',
 'Q3MIE9',
 'Q8NFH8-2',
 'Q14406',
 'Q7M729',
 'P78314-4',
 'Q8IX12',
 'Q96DC7-2',
 'Q9BY14-2',
 'Q8WWB3',
 'D3ZUU8',
 'NP_001380910',
 'O60683-2',
 'P49682-2',
 'Q6UWF9',
 'Q8WUU8',
 'Q8BJI4',
 'P55290-4',
 'B5DFI7',
 'Q92738-2',
 'P16259',
 'Q68FU2',
 'Q7L5Y1-5',
 'Q9Y223-2',
 'Q08879',
 'P24392',
 'Q86SE9',
 'P48974',
 'Q9QYY1',
 'E9PYR1',
 'Q3MHS7',
 'Q5PPI4',
 'NP_001102874',
 'Q6ZUV0',
 'Q92890-1',
 'Q96CM8-2',
 'Q641Y7',
 'Q9NRZ7-3',
 'Q68FV4',
 'P12532-2',
 'Q8N4Q1-2',
 'O70422',
 'Q9QXC1',
 'Q6PDE8',
 'Q9QYN8',
 'P57775',
 'Q7TRI0',
 'Q8K3D6',
 'Q642A4',
 'A0A0A0MRZ9',
 'Q9R0W1',
 'Q8BJ83',
 'D4A138',
 'Q96AB3-2',
 'Q9Z0L1',
 'Q9H490',
 'J3S6Y1',
 'O08878',
 'P36269-3',
 'Q9UHJ9-2',
 'NP_604462',
 'O00139-4',
 'Q9D0N8',
 'A1A5Q5',
 'P15399',
 'Q6P4F1-2',
 'Q8K4M9',
 'NP_650201',
 'Q9CY62',
 'Q9H892-2',
 'A0A075B6H8',
 'Q6R653',
 'Q5I0J4',
 'Q6P7P8',
 'Q99N34',
 'Q5I0H4',
 'Q504U0',
 'Q69FB3',
 'Q6QI89',
 'D4A9W0',
 'A2AE21',
 'Q3TCV3',
 'B1AS42',
 'D4A9U2',
 'Q5M827',
 'B2GV82',
 'Q6DGG1',
 'O43272',
 'Q8IUC3',
 'Q68FW1',
 'XP_240734',
 'P28702-3',
 'Q9CQK7',
 'D3ZVM9',
 'O75865-2',
 'Q3UGX8',
 'D4AA91',
 'Q6PI98-4',
 'Q15019-2',
 'B0BNE3',
 'Q9HC23',
 'Q9CQ88',
 'Q9NRA8-3',
 'P33402-2',
 'P63082',
 'Q5XIH9',
 'B5DF51',
 'Q5U680',
 'O70444',
 'E5RHQ5',
 'Q5M7T2',
 'Q8R286',
 'Q8K375',
 'Q53TQ3',
 'Q6UW78',
 'Q8VG73',
 'B1AWN8',
 'Q8NHV4-3',
 'Q14393-1',
 'Q63247',
 'P11378',
 'Q8TDI8',
 'O88472',
 'D3ZQF7',
 'P97343',
 'Q6ICL3-4',
 'P19801-2',
 'Q402B2',
 'O54798',
 'D3ZVP0',
 'Q9UBT3',
 'NP_001101758',
 'A0JPP4',
 'O60259-2',
 'O94779',
 'Q4KM30',
 'P43247',
 'D3YU02',
 'NP_001292165',
 'Q6AYL8',
 'Q07475',
 'D4ABZ5',
 'Q61200',
 'Q92609-2',
 'Q9JIN6',
 'Q9QZX9',
 'O43516-3',
 'P48739-3',
 'P49805',
 'Q8TD31-2',
 'P09650',
 'Q8N8F7',
 'Q9HCN4-5',
 'Q922J9',
 'Q9CR92',
 'Q9R144',
 'NP_001387879',
 'A1IGU3',
 'Q92932-3',
 'D3ZUE4',
 'Q8BMD5',
 'F1M575',
 'G3MWH1',
 'Q99N59',
 'P58557',
 'Q96DL1',
 'Q5XIJ8',
 'P0CG36',
 'O43688-2',
 'Q96RJ3-2',
 'P39948',
 'Q28165',
 'P00387-3',
 'Q9Y5Q6',
 'D3ZKW5',
 'Q3UZ57',
 'Q12904-2',
 'O00476-2',
 'Q8TCZ2-5',
 'Q6IE62',
 'P51162',
 'P41245',
 'Q4V7E1',
 'A6NJV1',
 'Q6AY01',
 'Q96HU1-2',
 'D3ZZQ5',
 'Q9H611-3',
 'D4A307',
 'Q5SZL2-4',
 'Q9Y3C4-3',
 'P53990-5',
 'Q8BGY7',
 'Q3UFJ6',
 'P62273-2',
 'Q8R116',
 'Q8VI02',
 'P43527',
 'Q4QR99',
 'Q91VF5',
 'Q6DNA4',
 'Q8N9W5-3',
 'Q63616',
 'Q9NR46-2',
 'P70126',
 'Q9NPF2',
 'Q62267',
 'P78346-2',
 'Q5FVR8',
 'O75925-2',
 'A3E4B6',
 'O54912',
 'O70139',
 'Q9Z213',
 'O14633',
 'XP_038954178',
 'NP_001385537',
 'O35569',
 'Q6AXU9',
 'P11672',
 'P24368',
 'Q4AE70',
 'Q8CI66',
 'Q6UPE0',
 'Q9D7S1',
 'Q7Z7H8-2',
 'D4A0Y4',
 'Q93062-5',
 'D3ZH95',
 'P0DN78',
 'Q9CQM5',
 'P04638',
 'Q01844-5',
 'Q62401',
 'Q8BHA1',
 'Q06828',
 'Q8CBR6',
 'P82980',
 'Q96SQ9-2',
 'NP_001127983',
 'A5PLN9-5',
 'Q7TN44',
 'Q4KM51',
 'Q8C1T8',
 'Q9P275',
 'Q91WA3',
 'Q9Y5F6-2',
 'A9UMW0',
 'P27115',
 'Q9UNP9-3',
 'Q9H2U2-2',
 'Q5PQM6',
 'M0RDM7',
 'O15084-1',
 'P20290-2',
 'Q9CXP9',
 'Q6AY71',
 'Q5RJP5',
 'Q08345-5',
 'Q9P0V9-2',
 'Q9ET32',
 'Q5BJP3',
 'P58366',
 'Q8C1E1',
 'XP_017453977',
 'D3ZY50',
 'Q14AW5',
 'D3ZMS0',
 'Q80WM7',
 'Q9CPY4',
 'M0R8B6',
 'Q5XIC8',
 'P59045',
 'A2CE44',
 'Q9BX59-7',
 'Q8R2Y9',
 'P29590-5',
 'Q8WXA9-2',
 'P0CG53',
 'XP_032775378',
 'Q9UL40-2',
 'Q7Z6G8-3',
 'Q9EQT3',
 'S4R213',
 'P31948-2',
 'D4A037',
 'P0DX00',
 'Q9BPX6-3',
 'Q14AT2',
 'Q9NV12',
 'B5DFN2',
 'Q9DAH6',
 'Q9ES30',
 'B2GUZ6',
 'A8MUX0',
 'Q8VCL5',
 'A0A0G2K2A7',
 'P70605',
 'Q3B8N9',
 'Q6AYM4',
 'O94772-2',
 'O08957',
 'Q8K2H6',
 'B1WC39',
 'Q8C636',
 'Q7M712',
 'D3ZWF3',
 'D4A1W5',
 'Q9UKI8-2',
 'Q9DCH2',
 'Q09030',
 'B5MD39',
 'Q8IWU9-2',
 'P58242',
 'P48760',
 'D3ZNX0',
 'Q15121-2',
 'Q6TDU8',
 'Q9NZ09-4',
 'Q9D1Z2',
 'D3ZAQ4',
 'Q9NXG6-3',
 'Q8TCW7',
 'Q8C9A2',
 'M0RDC2',
 'B2GV14',
 'Q9QWY4',
 'Q6AXV4',
 'Q86YL5-2',
 'Q99L28',
 'E9PXT9',
 'P30560',
 'Q13228-4',
 'G3V6U9',
 'Q9H6K4-2',
 'Q13510-2',
 'Q86UA6-8',
 'P46937-9',
 'Q9P0J1-2',
 'Q9QXL7',
 'Q6WCQ1-2',
 'Q4V7A8',
 'P62832',
 'Q6UY14-3',
 'Q499P4',
 'Q3UTA9',
 'P34152-9',
 'XP_342701',
 'Q9JMK0',
 'O54908',
 'D3ZTW9',
 'P31325',
 'Q9ESD1',
 'Q5U4E8',
 'Q9DAR0',
 'O76050',
 'Q9D0B5',
 'Q02293',
 'F1M7P8',
 'Q66H06',
 'Q9DAI9',
 'Q15334',
 'A6NMA1',
 'Q6AYH4',
 'P24071-6',
 'Q02527',
 'P42772',
 'Q8N8K9-2',
 'Q9JHX6',
 'Q9GZN8-2',
 'B0BN18',
 'Q8BS35',
 'A6NC86-2',
 'Q9Z176',
 'NP_001099432',
 'P56719',
 'Q6U7H8',
 'O75061-2',
 'Q1XID0',
 'Q05117',
 'Q6ZNF0',
 'Q8K3M1',
 'E9PUL3',
 'M0R7X9',
 'P32321-2',
 'Q0D2I5-5',
 'P23749',
 'Q6UWH4-2',
 'XP_006232363',
 'B2RVB9',
 'Q8VCN6',
 'B2GV96',
 'Q2KHT4',
 'Q68FU7',
 'D3ZPP9',
 'Q9UNT1-2',
 'Q5XI63',
 'D3Z1U7',
 'Q8IY49',
 'Q794H2',
 'Q6PCU8',
 'D4A067',
 'P55884-2',
 'Q9NXE4-4',
 'D4ACG6',
 'Q9Z202',
 'Q9HC73',
 'B1WC42',
 'Q5U1X1',
 'Q9CWX2',
 'Q9D417',
 'Q64163',
 'P35241-5',
 'Q8BZ94',
 'P55011',
 'Q8BLH5',
 'Q6AXW8',
 'Q04741',
 'O55227',
 'P0DI81-3',
 'H3BU77',
 'Q96P11-4',
 'P01096',
 'Q6AY04',
 'Q92800-2',
 'Q0VBF2',
 'Q15109-6',
 'Q91YI6',
 'B2RYG8',
 'P78563-5',
 'Q6UWJ8',
 'O42349',
 'O54853',
 'Q5F259-2',
 'P59634',
 'Q80ZQ3',
 'Q8QZW3',
 'Q12765-2',
 'Q8CFD5',
 'B0BN82',
 'B5DFN3',
 'Q9QWK4',
 'Q6AXY4',
 'Q6ZRI6',
 'P80147',
 'O70555',
 'Q7TP65',
 'Q4V8F3',
 'A0A0G2K543',
 'Q6PAK3',
 'Q810N9',
 'P56202',
 'Q6UWL2-2',
 'NP_001386448',
 'P60372',
 'Q9NPI1-2',
 'O75900-2',
 'XP_038955078',
 'Q9ERR2',
 'Q6IUP3',
 'P36198',
 'D4A001',
 'O35652',
 'Q3V3K7',
 'Q4KL13',
 'B0BNG7',
 'Q8C7X2',
 'Q4V794',
 'Q5SUA5',
 'P78352-2',
 'Q8BFU8',
 'Q5PQN2',
 'Q11204',
 'Q66HH2',
 'Q1H5H1',
 'O76081-6',
 'Q9EQN9',
 'Q8NHJ6-3',
 'P83556',
 'Q9H2L5-2',
 'Q96G28-2',
 'Q9D1F0',
 'P16276',
 'P61087',
 'P62870',
 'B0BN31',
 'F1LVT9',
 'P36364',
 'Q9NYJ1-2',
 'Q8CH20-2',
 'Q04727-3',
 'Q7TMP6',
 'D4AEG7',
 'Q9Y2B5-2',
 'Q07912-3',
 'Q80W65',
 'D4A7K4',
 'B2RQF0',
 'Q9QXP0',
 'D3ZAT9',
 'XP_008766952',
 'XP_006228289',
 'P37242',
 'NP_001178647',
 'O14718',
 'Q8R2R5',
 'P18615-3',
 'D3ZKT0',
 'O60331-3',
 'Q62070',
 'Q9NYP7-2',
 'Q8C4Y3-3',
 'D3ZJW0',
 'Q9D665',
 'P32322-3',
 'B1WC80',
 'Q5M828',
 'Q8R2H1',
 'P04075-2',
 'P50481-2',
 'Q6GPH6-2',
 'D4AE56',
 'Q9Y581',
 'Q96LR4',
 'Q9DBR3-2',
 'O54743',
 'Q8IYJ0',
 'P58499-2',
 'XP_008762033',
 'D3ZCV2',
 'XP_215112',
 'Q9GL10',
 'P29596',
 'Q9D9V2',
 'Q5XIB9',
 'B4F7A1',
 'Q96EH8',
 'Q4KKZ1',
 'P50553',
 'Q7LBE3-2',
 'Q9BX79-4',
 'Q5QGZ9-1',
 'J3QPC3',
 'XP_003752181',
 'P35348-2',
 'Q9D529',
 'Q7Z7J7',
 'D3ZEJ6',
 'Q5F3W0',
 'Q13361',
 'B2RYM4',
 'Q8K2J9',
 'Q9DBL2',
 'Q8K4T5',
 'Q96SJ8',
 'Q8VCC1',
 'Q5U2T7',
 'D3ZV91',
 'Q5SVJ3',
 'B3KU38',
 'Q9JJ05',
 'E9PYI4',
 'Q5XI20',
 'P22004',
 'P03986',
 'D3ZIA7',
 'Q9H6U8-3',
 'Q9DC48',
 'Q9BYH1',
 'Q9UJA3-4',
 'A2AG50-2',
 'Q9NQQ7-3',
 'B1H274',
 'Q9H977-4',
 'P80192-4',
 'D3ZWQ6',
 'D3ZHW9',
 'Q8BYK6-3',
 'P08319-2',
 'Q8CB49',
 'Q9Y6M7-7',
 'P28331-2',
 'Q99081-2',
 'Q9ES64-3',
 'Q14677-3',
 'Q15084-2',
 'XP_038967180',
 'Q6IE08',
 'P18864',
 'Q9DC23',
 'D4A9X9',
 'Q16864-2',
 'Q9Z0W7',
 'Q9D4V6',
 'XP_038969264',
 'Q96BZ9-3',
 'P53347',
 'O88875',
 'G3V7I7',
 'Q9UNL2-2',
 'Q2KHT3',
 'Q96HA1-2',
 'D3ZQ16',
 'Q5PQL5',
 'D4A1B8',
 'Q2LA85',
 'Q9D1E8',
 'Q8BMW7',
 'F1M1Q8',
 'Q8BVP2',
 'Q6AYS5',
 'O88186',
 'A2AU72',
 'Q6AYN9',
 'Q8TE49-2',
 'Q4QQS6',
 'Q8BJW5',
 'Q2LAM0',
 'Q76M96-2',
 'D3ZWN1',
 'D4ADI9',
 'Q61584-3',
 'Q9HCH5-13',
 'O54707',
 'D4A9Z2',
 'Q9JJV7',
 'P51659-2',
 'Q6AXU8',
 'Q8CIX8',
 'B5DEQ2',
 'Q9EPH1',
 'P04035-3',
 'Q13568-2',
 'D3Z8D3',
 'Q8C186',
 'Q9ET22',
 'Q8WZA0-2',
 'P25801',
 'Q00005-7',
 'Q9QZ23',
 'Q9BWP8-10',
 'Q9D638',
 'Q5U1Z9',
 'Q3V2D6',
 'A2A2V5',
 'Q9D0D3',
 'Q8NHL6-3',
 'XP_574335',
 'P58019',
 'P26824',
 'Q5XHZ6',
 'Q92552-2',
 'P58022',
 'Q96BT7-4',
 'Q9HC98-2',
 'Q3V3I5',
 'Q16570-2',
 'Q9BUF7-2',
 'Q8NEC5',
 'O35680',
 'Q8K4D7',
 'O75027-2',
 'B1ANY3',
 'Q9H902-3',
 'Q6XZF7-2',
 'P11532-6',
 'Q9D4K4',
 'Q8R1Z4',
 'Q6P7B3',
 'Q6AYT3',
 'Q96M27-2',
 'P58281-2',
 'P0DPE0',
 'Q60687',
 'Q96IL0',
 'Q6AY55',
 'Q17R55',
 'Q9H2P9-5',
 'Q8VBX4',
 'O75143-5',
 'P97682',
 'Q711G3',
 'Q9CQY1',
 'Q5R372-5',
 'P0C5J2',
 'P98171-2',
 'O00141-2',
 'Q5M7T1',
 'B1WBR8',
 'P40126-2',
 'XP_345573',
 'Q5TDH0-3',
 'Q8BXX9',
 'Q9Y2Z2-6',
 'D4A7V2',
 'Q9JII7',
 'D4A5K6',
 'Q6AXX1',
 'Q9UBC2-2',
 'Q3TA59',
 'Q80UF7',
 'Q5TCZ1',
 'D4A543',
 'O54946-2',
 'P61812-2',
 'F1M6B3',
 'P51179',
 'A6NKH3',
 'Q8CH79',
 'B2RYF4',
 'Q8CG08',
 'BAC65642',
 'A2RT62',
 'P59096',
 'P41034',
 'Q9CR21',
 'P54690',
 'Q6EV70',
 'Q8WWX0',
 'F1M654',
 'Q8R314',
 'Q921H9',
 'Q5RKH9',
 'E9Q8Q8',
 'Q49AM1',
 'P54265',
 'Q9DAA3',
 'Q9Y575-3',
 'O15533-3',
 'P49761-1',
 'Q9D9G3',
 'Q9ULT0-4',
 'Q8BY79',
 'Q9HCJ5',
 'Q13188-2',
 'Q8CH34',
 'P56557',
 'A2AFI6',
 'Q8CDU4',
 'Q8BJ48',
 'P06869',
 'Q62053',
 'Q9DBJ6',
 'P41374',
 'Q4KLJ3',
 'Q8BHM9',
 'Q9BYE0',
 'P35372-5',
 'Q96GR4-3',
 'D3ZHA2',
 'Q9UHQ1-2',
 'A0A8I5ZNL4',
 'A2ARP9',
 'NP_001100012',
 'Q9JL99',
 'P61289-2',
 'Q8VHA6',
 'Q9Y316-3',
 'Q5SZB4',
 'A0A024RBG1',
 'Q9JMB3',
 'Q9H910-3',
 'D4A4X3',
 'Q7TP77',
 'D3ZE15',
 'Q99JB7',
 'P39949',
 'B2RT54',
 'Q9H7H0-3',
 'B2RWQ8',
 'Q3U145',
 'NP_001100109',
 'B2RZB6',
 'B2GV53',
 'Q9QUH0',
 'Q6IUU3',
 'E9Q3M9',
 'O09015',
 'P63048',
 'P0CJ71',
 'Q9QZA1',
 'D4ADC1',
 'Q6V0K7',
 'Q6ICI0',
 'Q810I0',
 'Q4V8K5',
 'P97435',
 'Q5BJQ0',
 'Q9NY26',
 'Q8R404',
 'B5DEL7',
 'B2GUZ2',
 'XP_001066882',
 'O75112-7',
 'Q3V3F6',
 'Q91XE9',
 'D4ACA6',
 'Q9D7J6',
 'Q3MHL7',
 'Q2HJI0',
 'Q4KM32',
 'Q9ERQ6',
 'Q3UNA4',
 'Q8N128-2',
 'Q6PCM4',
 'P54825',
 'D3ZEM8',
 'Q7TP28',
 'Q6AXT9',
 'Q1LZ50',
 'O75953-5',
 'F6Y6X8',
 'Q8BNL5',
 'D3ZSW4',
 'Q6ZUJ4',
 'Q9NWF9-1',
 'Q8VI78',
 'Q3U5F4',
 'Q9Y2M2',
 'Q6AXU3',
 'D3ZZQ6',
 'G3V7L5',
 'Q63515',
 'Q6XBJ3',
 'Q6P5P3',
 'NP_001119752',
 'A6NI72',
 'A8MPX8',
 'A6NLP5',
 'NP_001094178',
 'Q9D9X8',
 'B2RYV2',
 'D3Z9I1',
 'Q9Y484-2',
 'O89094',
 'Q9Z282',
 'Q5PQZ9',
 'Q9ET62',
 'P40936',
 'Q14694-2',
 'Q5TKA1-2',
 'Q8C460',
 'O76039-1',
 'A2AC93',
 'P01867',
 'G3V9M2',
 'P08689',
 'XP_038940535',
 'Q68FQ5',
 'Q91ZE5',
 'Q4VBH2',
 'Q64507',
 'Q8IVF2-2',
 'A7RDN6',
 'NP_001388046',
 'D3ZDK7',
 'P21327',
 'F1LTM4',
 'Q9JJ46',
 'Q8K2M0',
 'Q9Y661',
 'Q8R2B8',
 'P43428',
 'Q9Y241-2',
 'Q64253',
 'P0C242',
 'B5DFH9',
 'G3V762',
 'A2NTJ8',
 'P20294',
 'Q64591',
 'Q9H9Y4',
 'P04939',
 'Q6AYF6',
 'NP_001101276',
 'Q96EW2',
 'Q6PAC3',
 'Q02053',
 'Q61039',
 'Q5FVJ3',
 'Q6AYL5',
 'Q9DAL9',
 'B2GV13',
 'Q8C5P5',
 'Q33DR3',
 'Q8CGW9',
 'P62136-2',
 'Q920K5',
 'Q4FZG8',
 'Q9NX94-2',
 'P48645',
 'Q3UM69',
 'Q66H78',
 'Q9BX93',
 'XP_001060521',
 'Q9QZI7',
 'Q3V1D5',
 'Q64237',
 'P31316',
 'Q8BFT2',
 'A0A8I5ZVM1',
 'Q8C6C9',
 'P62703',
 'Q9ULG6-5',
 'Q8BG31',
 'D4A650',
 'Q3ZBD2',
 'O35047',
 'Q9QZ28',
 'D3ZGM8',
 ...}

In [41]:
len(missing)

3080

The missing set is a set of cluster representatives with length >= 1024, thus not included in this filtered version. We need to choose a different representative for the members of these clusters. It will be the longest protein from the cluster that is still remaining in the set.

In [85]:
to_fix = joined[joined['cluster_rep'].apply(lambda x: x in missing)]
to_fix

,id,sites,sequence,cluster_rep
14,A0A096MJN4,"[170, 306]",MIKHFLEDNSDDAELSKFVKDFPGSEPCHPTESKTRVARPQILEPR...,O43236-4
21,A0A0B4J1G0,[235],MWQLLLPTALVLTAFSGIQAGLQKAVVNLDPKWVRVLEEDSVTLRC...,P27645
30,A0A0G2JTM7,"[279, 289, 483]",MGKKHKKHKSDRHFYEEYVEKPLKLVLKVGGSEVTELSTGSSGHDS...,Q9NPI1-2
34,A0A0G2JUG7,"[105, 107, 109, 110, 162, 180, 224, 342, 416, ...",MACRRRYLSSLETGSSLSTDRYSVEGEAPSSETGTSLDSPSAYHQG...,B4DGC5
60,A0A0G2KA14,[404],MFGRSRSWVGGGHGKSSRNIHSLDHLKYLYHVLTKNTTVTEQNRNL...,Q2KHT3
...,...,...,...,...
42222,XP_577119,[12],MEVFLMIRRKKTTIFIEAQELTTVLELKRIVQGILKRPPEEQLLFK...,P62870
42232,XP_578472,"[76, 78, 83]",MAMVCAFLTILVVMSHWSTCCLGCNLPRTHNLTVLKQMSRQSPVSC...,B1AYH7
42237,XP_621234,"[23, 293, 303]",MDHKLQNSDGRQPVLAIKNQTLTEFILLGLTDAPELQVCVFLFLLL...,P47883
42251,XP_996053,"[19, 399, 400, 401, 542, 545, 803, 804, 807]",MGKFLALMNSIIDSWMGPSSMDIAMDIGIAFMCGAGLFFLLQRFLK...,XP_997087
42254,YP_009725305,[5],NNELSPVALRQMSCAAGTTQTACTDDNALAYYNTTKGGRFVLALLS...,NP_828867

In [104]:
fix_grouped = to_fix.groupby('cluster_rep')

In [105]:
def collapse_fn(group : pd.DataFrame):
    #print(group['sequence'])
    #print(group)
    lens = group['sequence'].apply(lambda x: len(x))
    new_rep = lens.argmax()
    group['new_rep'] = group.iloc[new_rep].id
    return group

fixed = fix_grouped.apply(collapse_fn)

In [106]:
fixed

                          id                                         sites  \
cluster_rep
A0A024RBG1  7937      O95989                                [30, 131, 160]
            9042      P0C027                                         [150]
            9043      P0C028                                    [148, 150]
            29828     Q8NFP7        [11, 67, 148, 150, 154, 158, 159, 162]
            32894     Q96G61        [11, 67, 148, 150, 154, 158, 159, 162]
...                      ...                                           ...
XP_913389   14595     P62851                 [26, 55, 65, 69, 74, 93, 109]
            14596     P62852                         [26, 55, 69, 93, 113]
XP_997087   1577      B7ZWJ3                [368, 489, 914, 918, 919, 920]
            19226     Q3V0M1           [141, 148, 368, 914, 918, 919, 920]
            42251  XP_996053  [19, 399, 400, 401, 542, 545, 803, 804, 807]

                                                            sequence  \
cluster_rep
A0A024RBG1  7937   MMKLKSNQTRTYDGDGYKKRAACLCFRSESEEEVLLVSSSRHPDRW...
            9042   MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...
            9043   MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...
            29828  MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...
            32894  MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...
...                                                              ...
XP_913389   14595  MPPKDDKKKKDAGKSAKKDKDPVNKSGGKAKKKKWSKGKVRDKLNN...
            14596  MPPKDDKKKKDAGKSAKKDKDPVNKSGGKAKKKKWSKGKVRDKLNN...
XP_997087   1577   MENFLSLMNSIIDPWMSNSSMDIAMDMTIGFMCGVGLFFLLIPFLK...
            19226  MENFLSLMNSIIDSWMSNSSMDIAMDMTIGFMCGVGLFFLLIPFLK...
            42251  MGKFLALMNSIIDSWMGPSSMDIAMDIGIAFMCGAGLFFLLQRFLK...

                  cluster_rep new_rep
cluster_rep
A0A024RBG1  7937   A0A024RBG1  Q9NZJ9
            9042   A0A024RBG1  Q9NZJ9
            9043   A0A024RBG1  Q9NZJ9
            29828  A0A024RBG1  Q9NZJ9
            32894  A0A024RBG1  Q9NZJ9
...                       ...     ...
XP_913389   14595   XP_913389  P62851
            14596   XP_913389  P62851
XP_997087   1577    XP_997087  B7ZWJ3
            19226   XP_997087  B7ZWJ3
            42251   XP_997087  B7ZWJ3

[7750 rows x 5 columns]

In [108]:
fixed = fixed.reset_index(level='cluster_rep', drop=True)
fixed

,id,sites,sequence,cluster_rep,new_rep
7937,O95989,"[30, 131, 160]",MMKLKSNQTRTYDGDGYKKRAACLCFRSESEEEVLLVSSSRHPDRW...,A0A024RBG1,Q9NZJ9
9042,P0C027,[150],MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...,A0A024RBG1,Q9NZJ9
9043,P0C028,"[148, 150]",MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...,A0A024RBG1,Q9NZJ9
29828,Q8NFP7,"[11, 67, 148, 150, 154, 158, 159, 162]",MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...,A0A024RBG1,Q9NZJ9
32894,Q96G61,"[11, 67, 148, 150, 154, 158, 159, 162]",MKCKPNQTRTYDPEGFKKRAACLCFRSEREDEVLLVSSSRYPDRWI...,A0A024RBG1,Q9NZJ9
...,...,...,...,...,...
14595,P62851,"[26, 55, 65, 69, 74, 93, 109]",MPPKDDKKKKDAGKSAKKDKDPVNKSGGKAKKKKWSKGKVRDKLNN...,XP_913389,P62851
14596,P62852,"[26, 55, 69, 93, 113]",MPPKDDKKKKDAGKSAKKDKDPVNKSGGKAKKKKWSKGKVRDKLNN...,XP_913389,P62851
1577,B7ZWJ3,"[368, 489, 914, 918, 919, 920]",MENFLSLMNSIIDPWMSNSSMDIAMDMTIGFMCGVGLFFLLIPFLK...,XP_997087,B7ZWJ3
19226,Q3V0M1,"[141, 148, 368, 914, 918, 919, 920]",MENFLSLMNSIIDSWMSNSSMDIAMDMTIGFMCGVGLFFLLIPFLK...,XP_997087,B7ZWJ3
42251,XP_996053,"[19, 399, 400, 401, 542, 545, 803, 804, 807]",MGKFLALMNSIIDSWMGPSSMDIAMDIGIAFMCGAGLFFLLQRFLK...,XP_997087,B7ZWJ3

In [113]:
clusters.set_index('cluster_mem').loc['XP_996053']

cluster_rep    XP_997087
Name: XP_996053, dtype: object

In [109]:
joined['cluster_rep'][fixed.index] = fixed['new_rep']

In [110]:
joined.loc[42251]

id                                                     XP_996053
sites               [19, 399, 400, 401, 542, 545, 803, 804, 807]
sequence       MGKFLALMNSIIDSWMGPSSMDIAMDIGIAFMCGAGLFFLLQRFLK...
cluster_rep                                               B7ZWJ3
Name: 42251, dtype: object

In [114]:
len(joined['cluster_rep'].unique())

13120

In [116]:
reps = joined['cluster_rep'].unique()
reps

array(['A0A024R4G9', 'P62937', 'Q8NGM1', ..., 'XP_988512', 'YP_009725305',
       'YP_009725309'], dtype=object)

In [129]:
rep_mask = joined['id'].apply(lambda x : x in reps)
rep_df = joined[rep_mask]
rep_df['length'] = rep_df['sequence'].apply(lambda x: len(x))

C:\Users\Samo\AppData\Local\Temp\ipykernel_22452\3933978370.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rep_df['length'] = rep_df['sequence'].apply(lambda x: len(x))

In [ ]:
rep_df

,id,sites,sequence,cluster_rep,length
0,A0A024R4G9,"[14, 16, 20]",MTVLEAVLEIQAITGSRLLSMVPGPARPPGSCWDPTQCTRTWLLSH...,A0A024R4G9,117
6,A0A087WQP5,"[98, 102, 107]",MGCCGCGGCGGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCG...,A0A087WQP5,138
13,A0A096MJJ4,[501],MSEEKPDKIAPEETAFEEIEKDFQEVLSELSGDKSLEKFRVEYEKL...,A0A096MJJ4,873
19,A0A0A6YY25,"[101, 110, 414, 417, 443, 682, 683]",MCSPASSKILYRNPRFLRVAFLQLHHQQQSGVFCDALLQAEGEAVP...,A0A0A6YY25,723
20,A0A0B4J1F3,"[100, 106, 326, 330]",MSCTFTALLCLGLTLRLWIPVLTGSLPKPILRVQPDSVVQVWTKVT...,A0A0B4J1F3,663
...,...,...,...,...,...
42247,XP_987269,[172],MVSFAQWTVSKMRGKSWTENGERRSPLHNLVLKRFRGSTLKDQVLK...,XP_987269,241
42248,XP_988512,[156],MKHPRHVTGCGGGSRGHVRGVATRGSRALGCGLQRGAAGGAGVAAG...,XP_988512,206
42254,YP_009725305,[5],NNELSPVALRQMSCAAGTTQTACTDDNALAYYNTTKGGRFVLALLS...,YP_009725305,113
42255,YP_009725309,[56],AENVTGLFKDCSKVITGLHPTQAPTHLSVDTKFKTEGLCVDIPGIP...,YP_009725309,527
42256,Z4YJP0,[140],MITRMRHHPWLKSSSFEDRTFPSPPPNWRDITYKYVLGSTQHKTPR...,Z4YJP0,893

Split the proteins into classes based on their length, and then stratify the dataset.

In [135]:
_, length_bins = np.histogram(rep_df['length'], 10)
length_labels = np.digitize(rep_df['length'], length_bins)
rep_df['length_class'] = length_labels
rep_df

C:\Users\Samo\AppData\Local\Temp\ipykernel_22452\88074549.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rep_df['length_class'] = length_labels

,id,sites,sequence,cluster_rep,length,length_class
0,A0A024R4G9,"[14, 16, 20]",MTVLEAVLEIQAITGSRLLSMVPGPARPPGSCWDPTQCTRTWLLSH...,A0A024R4G9,117,1
6,A0A087WQP5,"[98, 102, 107]",MGCCGCGGCGGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCG...,A0A087WQP5,138,2
13,A0A096MJJ4,[501],MSEEKPDKIAPEETAFEEIEKDFQEVLSELSGDKSLEKFRVEYEKL...,A0A096MJJ4,873,9
19,A0A0A6YY25,"[101, 110, 414, 417, 443, 682, 683]",MCSPASSKILYRNPRFLRVAFLQLHHQQQSGVFCDALLQAEGEAVP...,A0A0A6YY25,723,8
20,A0A0B4J1F3,"[100, 106, 326, 330]",MSCTFTALLCLGLTLRLWIPVLTGSLPKPILRVQPDSVVQVWTKVT...,A0A0B4J1F3,663,7
...,...,...,...,...,...,...
42247,XP_987269,[172],MVSFAQWTVSKMRGKSWTENGERRSPLHNLVLKRFRGSTLKDQVLK...,XP_987269,241,3
42248,XP_988512,[156],MKHPRHVTGCGGGSRGHVRGVATRGSRALGCGLQRGAAGGAGVAAG...,XP_988512,206,2
42254,YP_009725305,[5],NNELSPVALRQMSCAAGTTQTACTDDNALAYYNTTKGGRFVLALLS...,YP_009725305,113,1
42255,YP_009725309,[56],AENVTGLFKDCSKVITGLHPTQAPTHLSVDTKFKTEGLCVDIPGIP...,YP_009725309,527,6
42256,Z4YJP0,[140],MITRMRHHPWLKSSSFEDRTFPSPPPNWRDITYKYVLGSTQHKTPR...,Z4YJP0,893,9

In [153]:
train, test = train_test_split(rep_df.id, test_size=0.2, random_state=seed, stratify=rep_df['length_class'])

In [154]:
train

17812    Q16594
18339    Q3C2P9
503      A2RUU4
19332    Q400G9
40595    Q9Y274
          ...
15765    Q01954
34303    Q9BQ61
37445    Q9JHI0
4415     M0R3X9
18874    Q3UGE6
Name: id, Length: 10496, dtype: object

In [145]:
rep_df

,id,sites,sequence,cluster_rep,length,length_class
0,A0A024R4G9,"[14, 16, 20]",MTVLEAVLEIQAITGSRLLSMVPGPARPPGSCWDPTQCTRTWLLSH...,A0A024R4G9,117,1
6,A0A087WQP5,"[98, 102, 107]",MGCCGCGGCGGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCGCGGCG...,A0A087WQP5,138,2
13,A0A096MJJ4,[501],MSEEKPDKIAPEETAFEEIEKDFQEVLSELSGDKSLEKFRVEYEKL...,A0A096MJJ4,873,9
19,A0A0A6YY25,"[101, 110, 414, 417, 443, 682, 683]",MCSPASSKILYRNPRFLRVAFLQLHHQQQSGVFCDALLQAEGEAVP...,A0A0A6YY25,723,8
20,A0A0B4J1F3,"[100, 106, 326, 330]",MSCTFTALLCLGLTLRLWIPVLTGSLPKPILRVQPDSVVQVWTKVT...,A0A0B4J1F3,663,7
...,...,...,...,...,...,...
42247,XP_987269,[172],MVSFAQWTVSKMRGKSWTENGERRSPLHNLVLKRFRGSTLKDQVLK...,XP_987269,241,3
42248,XP_988512,[156],MKHPRHVTGCGGGSRGHVRGVATRGSRALGCGLQRGAAGGAGVAAG...,XP_988512,206,2
42254,YP_009725305,[5],NNELSPVALRQMSCAAGTTQTACTDDNALAYYNTTKGGRFVLALLS...,YP_009725305,113,1
42255,YP_009725309,[56],AENVTGLFKDCSKVITGLHPTQAPTHLSVDTKFKTEGLCVDIPGIP...,YP_009725309,527,6
42256,Z4YJP0,[140],MITRMRHHPWLKSSSFEDRTFPSPPPNWRDITYKYVLGSTQHKTPR...,Z4YJP0,893,9

In [155]:
train_labels = rep_df.set_index('id').loc[train]['length_class']
train_labels

id
Q16594     3
Q3C2P9     5
A2RUU4     1
Q400G9     5
Q9Y274     4
          ..
Q01954    10
Q9BQ61     2
Q9JHI0     6
M0R3X9     2
Q3UGE6     7
Name: length_class, Length: 10496, dtype: int64

In [156]:
from sklearn.model_selection import StratifiedKFold

cv = StratifiedKFold(random_state=seed, shuffle=True)
splits = list(cv.split(train, train_labels))

In [158]:
import json

final_dataset = {
    'prot_ids' : reps.tolist(),
    'test' : test.tolist(),
    'train' : train.tolist(),
    'splits' : []
}
for t, dev in splits:
    d = { 'train' : t.tolist(), 'dev' : dev.tolist() }
    final_dataset['splits'].append(d)

with open('../data/prepared_dataset.json', 'w') as f:
    json.dump(final_dataset, f, indent='\t')